 <tr>
    <td><%= users.email %></td>
   <td>
     <%= button_to "Excluir Usuário", users, method: :delete, class: 'btn btn-danger',
                   data: {confirm: "Tem certeza que deseja remover #{users.email} ?"}%>
   </td>
   <td>
    <%= link_to "Editar usuário", edit_user_path(users), class: 'btn btn-primary' %>
    </td>
  </tr>
