<%= render "backoffice/header" %>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center">
    <h1 class="display text-center">Editar usuário</h1>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <%= render partial: 'form', locals: { acao: 'Editar usuário' } %>
  </div>
</div>
<%= render "backoffice/background" %>

<%= render partial: 'backoffice/footer' %>