<%= render 'welcome/header' %>
<div class="row mt-5">
  <div class="col-md-12">
    <h1 class="display text-center">Agendar novo serviço</h1>
    <p class="text-center">Após o agendamento você irá receber um e-mail em até 24 horas com os dados de confirmação do agendamento</p>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <%= render partial: 'form', locals: {acao: 'Agendar novo serviço' } %>
  </div>
</div>
<%= render 'welcome//background' %>
<%= render 'welcome/footer' %>