<%= render 'welcome/header' %>
<div class="row mt-5">
  <div class="col-md-12">
    <h1 class="display text-center">Cadastrar novo usuário</h1>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <%= render partial: 'form', locals: {acao: 'Agendar novo serviço' } %>
  </div>
</div>
<%= render 'welcome//background' %>
<%= render 'welcome/footer' %>