<div class="header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bem Vindo ao Pet's Dreams</h1>
      <h4 class="text-center">Pet's Dreams é o maior e melhor conceitudo petshop da américa latina, com os melhores produtos e técnicas, venha conhecer!</h4>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <%= link_to 'Inicio', root_path, class: 'btn-font btn btn-success' %>
    </div>
  </div>
</div>