<div class="header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Bem Vindo ao Pet's Dreams</h1>
      <p class="text-center">Pet's Dreams é o maior e melhor conceitudo petshop da américa latina, com os melhores produtos e técnicas, venha conhecer!</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <button class="text-center btn btn-success"><%= link_to 'Inicio', root_path, class: 'btn-font' %></button>
    </div>
  </div>
</div>