<head>
  <%= stylesheet_link_tag 'application' %>
</head>

<div class="header">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid" src="https://i.pinimg.com/originals/51/ec/5a/51ec5ab51ea05f99a4449c77f9cc1282.jpg" style="height: 10vh">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>