<section class="footer">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <%= link_to 'Deslogar', destroy_user_session_path, method: :delete, class: 'btn-font btn btn-dark' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <p class="text-center">Desenvolvido por: Zaparoli Técnologias de E-commerce LTDA</p>
    </div>
  </div>
</section>