<section class="footer">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-dark btn-font"><%= link_to 'Deslogar', destroy_user_session_path, method: :delete, class: 'btn-font' %></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <p class="text-center">Desenvolvido por: Zaparoli Técnologias de E-commerce LTDA</p>
    </div>
  </div>
</section>