  <div class="header-backoffice">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Área Administrativa Pet's Dreams</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 btn-group d-flex justify-content-center">
        <div class="col-md-2">
          <button class="btn btn-success btn-font"><%= link_to 'Serviços', '/services', class:'btn-font' %></button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-warning btn-font"><%= link_to 'Usuários', '/users', class: 'btn-font' %></button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-info btn-font"><%= link_to 'Serviços Agendados', '/schedules', class: 'btn-font' %></button>
        </div>
    </div>
  </div>
</div>