<%= render partial: 'backoffice/header' %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <h1 class="text-center">Bem vindo a área do administrador</h1>
      <h5 class="text-center">Aqui você poderá cadastrar, alterar e excluir serviços e usuários, além de obter acesso a relatórios sobres
      os serviços agendados que são atualizados em tempo real.</h5>
    </div>
  </div>
</div>
<%= render partial: 'backoffice/background' %>
<%= render partial: 'backoffice/footer' %>
